<div class="container">
    <div class="card mt-3 w-50 border-1 border-dark">
        <img class="card-img-top rounded-top w-25 mt-5 m-auto"
            src="https://www.adobe.com/br/express/feature/image/media_142f9cf5285c2cdcda8375c1041d273a3f0383e5f.png"
            alt="Usuário sem foto">
        <h5 class="card-title mt-3 m-auto">{{username}}</h5>
        <div class="card-body">
            <p class="card-text">Um exemplo de texto rápido para
                constituir o perfil do sujeito vai aqui</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-s border-1 border-dark"><strong>Nome</strong>
                | {{nome}}</li>
            <li class="list-group-item border-1 border-dark"><strong>Pontos</strong>
                | {{pontos}}</li>
            <li class="list-group-item border-1 border-dark"><strong>E-mail</strong>
                | {{email}}</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Um primeiro link</a>
            <a href="#" class="card-link">Um segundo link</a>
        </div>
    </div>
</div>