<header class="header">
        <div class="navbar">
            <div class="navbar-content d-flex justify-content-between">
                <div class="navbar-col" id="brand">iforum</div>
                <div class="navbar-col" id="search-box">
                    <button class="add-forum" onclick="addForum()"><i class="fa fa-plus"></i></button>
                    <input type="text" name="" id="" class="search-bar"placeholder="pesquisar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
</header>