{{>header}}
<div class = "container-post">
    <form class="items-post items post" action="/post" method="POST">
        <h3 class="container-text"><u>Realizar Postagem:</u></h3>
        <input name="title" class="items input-title" placeholder="Título" required>
        <input name="content" class="items input content" rows="5" cols="50" placeholder="Conteúdo" required>
        <div class="bttn-post">
            <button class="items button-post">Publicar</button>
        </div>
    </form>
</div>