{{>header}}
<div class = "container-post ml-auto mr-auto mt-5">
    <form class="items-post items post mt-5" action="/post" method="post">
        <h3 class="container-text"><u>Realizar Postagem:</u></h3>
        <textarea name="title" class="items input-title p-2" placeholder="Título" required></textarea>
        <textarea name="content" class="items input content p-2" rows="5" cols="50" placeholder="Conteúdo" required></textarea>
        <div class="bttn-post">
            <button class="items button-post">Publicar</button>
        </div>
    </form>
</div>
