{{#each Post}}
<div class = "container">
    <div class = "subforum">
            <div class="title align-self-center">
                <h3>informação geral</h3>
            </div>
        </div>
        <div class = "subforum-row flex-fill">
            <div class = "subforum-icon subforum-column bg-dark align-self-center">
                <i class="fa fa-car"></i>
            </div>
            <div class="subforum-description subforum-column text-light bg-dark">
                <h4><a href="">{{title}}</a></h4>
                <p>{{content}}</p>
            </div>
            <div class="status subforum-column text-light bg-dark align-self-center">
                <span>1 post | 1 topics</span>
            </div>
            <div class = "subforum-info subforum-column text-white bg-dark align-self-center">
                <b><a href="">Last Post</a> by <a href=""> Author</a></b>
                <br>
                {{date}}
            </div>
    </div>
</div>
{{else}}

{{/each}}