/* global */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
}

a{
    color: rgb(255, 123, 0);
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.container {
    margin: 20px; 
    padding: 20px;
    background-color: rgb(0, 255, 255);
}

.subforum {
    margin-top: 20px;
}

.title{
    background-image: linear-gradient(to left, rgb(255, 123, 0), rgb(10, 13, 199));
    background-color: rgb(4, 31, 59);
    padding: 5px;
    border-radius: 5px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(4, 31, 59)
}

.subforum.descripition *{
    margin-block: 0;
}

.devider{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgb(10, 13, 199), rgb(206, 93, 0));
}

/*header*/

header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: rgb(10, 13, 199);
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
}


.nav-item a:hover{
    background-color: rgb(255, 98, 41);
}

.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;

}