<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>iforum Registrar</title>

        <!-- Custom styles for this template -->
        <link href="/source/css/bootstrap.css" rel="stylesheet">
    </head>
    <body class="text-center">
        {{{body}}}
    </body>
</html>