/* global */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: white;
}

a{
    color: rgb(255, 123, 0);
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.container {
    margin: 20px; 
    padding: 20px;
    background-color: rgb(6, 42, 80);
    border-radius: 10px;
}

.subforum {
    margin-top: 20px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(4, 31, 59)
}


.title{
    background-image: linear-gradient(to left, rgb(255, 123, 0), rgb(10, 13, 199));
    background-color: rgb(4, 31, 59);
    padding: 5px;
    border-radius: 5px;
}


.subforum.descripition *{
    margin-block: 0;
}

.devider{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgb(10, 13, 199), rgb(206, 93, 0));
}

/*header*/

header{
    margin-inline: 10px;
    border-radius: 15px;
    border: rgb(255, 98, 41);
    background-color: rgb(6, 42, 80);
    margin-top: 20px;
    padding: 7px;
    display: flex;
    justify-content: left;
    box-shadow: 1px 3px 3px rgb(255, 98, 41);
}

header #search-box{
    display: flex;
    justify-content: right;
    margin-left: 200px;
}

header .navbar{
    
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar-content{
    align-items: center;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 100% 100%;
}

#search-box{
    
    justify-content: right;
}


.navigation{
    background-color: rgb(10, 13, 199);
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: left;
    display: inline;
    text-align: center;
    margin-inline: 13px;
    font-size: 20px;
    padding: 10px;
    color: white;
}


.nav-item a:hover{
    background-color: rgb(255, 98, 41);
}

.close-icon i{
    font-size: 50px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;

}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: rgb(255, 98, 41);
    cursor: pointer;
}


@font-face {
    font-family: Thorsley;
    src: url(./Thorsley-9YBXn.otf);
}



#brand{
    font-family: Thorsley;
    font-size: 40px;
    display: inline-block;
    color: white;
}

.search-box{
    
    border-radius: 20px;
    border: solid 1px rgb(255, 98, 41);
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: right;
    box-shadow: 1px 2px 3px rgb(255, 98, 41);
}

.search-bar{
    border-radius: 20px 0px 0px 20px;
    border-style: none;
}

#search-box select{
    padding: 10px;
}

#search-box input{
    padding: 10px;
    margin-left: 10px;
}

#search-box input:hover{
    background-color: rgb(226, 223, 223);
}

#search-box button{
    padding: 10px;
    background-color: white;
    color: rgb(255, 98, 41); ;
    border-style: none;
    border-radius: 0px 20px 20px 0px;
}

#search-box .add-forum{
    width: 10%;
    border-radius: 20px;
    color: rgb(255, 98, 41); ;

}

#search-box button:hover{
    background-color: rgb(255, 98, 41);;
    color:white;
}


/*==========post.html==========*/


.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: black;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 5%;
}

/*==========login.html==========*/


.container-login{
    width: 25%;
    height: 420px;
    background-color: rgb(6, 42, 80);
    border-radius: 20px;
    position:absolute;
	left:35%;
    top:10%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container-login .user-icon{
    
    font-size: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px rgb(255, 98, 41);
    border-radius: 100px;
    margin-top: 15px;
}

.container-login .brand{
    display: flex;
    justify-content: center;
    font-family: Thorsley;
    font-size: 45px;
}

.bottom-side{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.item-login{
    margin-top: 20px;
}

.input{
    
    height:30%;
    width: 90%;
    border-radius: 3px;
    border-style: none;
}

.button-login{
    width: 40%;
    height: 25px;
    border-radius: 20px;
    border-style: none;
}


/*======Post.html=======*/

.container-post{
    width: 35%;
    height: 420px;
    background-color: rgb(6, 42, 80);
    border-radius: 20px;
    position:absolute;
    margin-top: 40px;
	left:35%;
    top:10%;
    display: grid;
    align-items:start;
    justify-content: center;
}

.items-post{
    display: grid;
}

.container-text{
    color: rgb(226, 223, 223);
    text-align: center;
}

.container-post .items{
    margin-top: 13px;
    display: grid;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    border-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 100%;
    
}

.bttn-post{
    display: block;
    
    
}

.items-post .button-post{
    width: 120px;
    height: 30px;
    display:inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(255, 123, 0), rgb(10, 13, 199));
    color: white;
    font-size: 18px;
    
}

