/* global */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: white;
}

a{
    color: rgb(255, 123, 0);
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.container {
    margin: 20px; 
    padding: 20px;
    background-color: rgb(6, 42, 80);
    border-radius: 10px;
}

.subforum {
    margin-top: 20px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(4, 31, 59)
}


.title{
    background-image: linear-gradient(to left, rgb(255, 123, 0), rgb(10, 13, 199));
    background-color: rgb(4, 31, 59);
    padding: 5px;
    border-radius: 5px;
}


.subforum.descripition *{
    margin-block: 0;
}

.devider{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgb(10, 13, 199), rgb(206, 93, 0));
}

/*header*/

header{
    margin-inline: 10px;
    border-radius: 15px;
    border: rgb(255, 98, 41);
    background-color: rgb(6, 42, 80);
    margin-top: 20px;
    padding: 7px;
    display: flex;
    justify-content: left;
    box-shadow: 1px 3px 3px rgb(255, 98, 41);
}

header #search-box{
    display: flex;
    justify-content: right;
    margin-left: 200px;
}

header .navbar{
    
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar-content{
    align-items: center;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 100% 100%;
}

#search-box{
    
    justify-content: right;
}


.navigation{
    background-color: rgb(10, 13, 199);
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: left;
    display: inline;
    text-align: center;
    margin-inline: 13px;
    font-size: 20px;
    padding: 10px;
    color: white;
}


.nav-item a:hover{
    background-color: rgb(255, 98, 41);
}

.close-icon i{
    font-size: 50px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;

}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: rgb(255, 98, 41);
    cursor: pointer;
}


@font-face {
    font-family: kento;
    src: url(./Kento\ Regular.otf);
}


#brand{
    font-family: kento;
    font-size: 40px;
    display: inline-block;
    color: white;
}

.search-box{
    
    border-radius: 20px;
    border: solid 1px rgb(255, 98, 41);
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: right;
    box-shadow: 1px 2px 3px rgb(255, 98, 41);
}

.search-bar{
    border-radius: 20px 0px 0px 20px;
    border-style: none;
}

#search-box select{
    padding: 10px;
}

#search-box input{
    padding: 10px;
}

#search-box input:hover{
    background-color: rgb(226, 223, 223);
}

#search-box button{
    padding: 10px;
    background-color: white;
    color: rgb(255, 98, 41); ;
    border-style: none;
    border-radius: 0px 20px 20px 0px;
}

#search-box button:hover{
    background-color: rgb(255, 98, 41);;
    color:white;
}