<!-- Header -->
<header id="header">
    <div class="overlay">
        <div id="Home" class="container">
            <div class="row">
                <h1 style="margin-top: 250px;" class="display-3"> Bem Vindo ao
                    iforum </h1>
                <p class="text-success-emphasis">Faça suas melhores publicações
                    e seja conhecido por seus conteúdos.</p>
                <a href="/post"><button type="button" class="btn btn-outline-info" onclick>
                    Venha Postar Agora Mesmo!</button></a>
            </div>
        </div>
    </div>
</header>