<div class="p-4">
  <h4 class="fst-italic">Outros Links</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/TroySeth/ProjetoFinal-PWI">GitHub</a></li>
    <li><a href="https://twitter.com/login?lang=pt">Twitter</a></li>
    <li><a href="https://pt-br.facebook.com/">Facebook</a></li>
  </ol>
</div>