<!--post-->
    <!--container-->
<div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="col-md-6 m-auto">
                <div class="h-100 p-5 bg-light border rounded-3">
                  <h2>Realizar Postagem:</h2>
                  <form class="" action="/post" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Título</label>
                        <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Título">
                      </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Conteúdo</label>
                        <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="4"></textarea>
                      </div>
                    <button class="btn btn-info" type="submit">Publicar</button>
                    </div>
            </div>
          </div>
</div>