<footer class="py-5 position-absolute bottom-0 w-100">
    <div class="d-flex flex-column flex-sm-row justify-content-center border-top">
    <p>© 2023 iforum Company, Inc. Todos os direitos reservados.</p>
  </div>
</footer>