<main class="form-signin w-100 m-auto">
    <form action="/register" method="POST">
        <p class="login-icon">iforum</p>
        <div class="modal modal-signin position-static d-block bg-secondary
            py-5" tabindex="-1" role="dialog" id="modalSignin">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                        <h1 class="fw-bold mb-0 fs-2">Registre-se Gratuitamente</h1>
                        <a href="/"><button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button></a>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form class="form-register">
                            <div class="form-floating mb-3">
                                <input type="text" name="name" class="form-control
                                    rounded-3" id="" placeholder="Nome"
                                    required>
                                <label for="floatingInput">Nome</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="username" class="form-control
                                    rounded-3" id="floatingInput"
                                    placeholder="nome@example.com" required>
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control
                                    rounded-3" id="floatingInput"
                                    placeholder="nome@example.com" required>
                                <label for="floatingInput">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="password" class="form-control
                                    rounded-3" id="floatingPassword"
                                    placeholder="Senha" required>
                                <label for="floatingPassword">Password</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3
                                btn-primary" type="submit">Registrar</button>
                            <small class="text-muted">Clicando em Registrar,
                                você concorda com os termos de uso.</small>
                            <hr class="my-4">
                            <h2 class="fs-5 fw-bold mb-3">ou entre com:</h2>
                            <button class="w-100 py-2 mb-2 btn btn-outline-dark
                                rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16"><use
                                        xlink:href="#twitter"></use></svg>
                                Twitter
                            </button>
                            <button class="w-100 py-2 mb-2 btn
                                btn-outline-primary rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16"><use
                                        xlink:href="#facebook"></use></svg>
                                Facebook
                            </button>
                            <button class="w-100 py-2 mb-2 btn
                                btn-outline-secondary rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16"><use
                                        xlink:href="#github"></use></svg>
                                GitHub
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2023 iforum Company</p>
</main>