<main class="form-signin w-100 m-auto">
  <form>
    <p class="login-icon">iforum</p>
    <h1 class="h3 mb-3 fw-normal">Entrar</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput"
        placeholder="name@exemplo.com" required>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword"
        placeholder="Password" required>
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar-me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2023 iforum Company</p>
  </form>
</main>